/*Contacto*/
body {
    background-color: antiquewhite;
}

.padre {
    display: flex;
    height: 100%;
    width: 100%;
    color: cornsilk;
    background-color: rgb(208, 68, 68);
    border-color: black;
    border-style: groove;
    border-radius: 1%;
    display: inline-block;
    text-align: start;
}

h1 {
    text-align: center;
    font-size: 5vw;
}

.indice {
    background-color: rgb(243, 195, 75);
    border-color: black;
    border-style: solid;
    margin-bottom: 5%;
    border-radius: 30px;
    padding: 1%;
    text-align: center;
}

.enlace:hover {
    color:rgb(210, 214, 213);
    background-color:orangered;
    cursor: pointer;
    font-size: 30px;
}

.enlace {
    background-color:darkgrey;
    color: black;
    border-style: solid;
    border-color:black;
    border-radius: 5px;
}

.encabezado {
    margin-left: 2vw;
}

section {
    text-align:center;
}

.ventanamensaje {    
    height: 15vw;
    width: 30vw;
    margin-bottom: 20px;
    resize: none;
}

.boton {
    text-align: center;
    margin-bottom: 20px;
}

footer {
    font-size: 8px;
    text-align: end;
}