/*Compras*/
body {
    background-color: antiquewhite;
}
.padre {
    display: flex;
    height: 100%;
    width: 100%;
    color: cornsilk;
    background-color: rgb(208, 68, 68);
    border-color: black;
    border-style: groove;
    border-radius: 1%;
    display: inline-block;
    text-align: center;
}

.indice {
    background-color: rgb(243, 195, 75);
    border-color: black;
    border-style: solid;
    margin-bottom: 5%;
    border-radius: 30px;
    padding: 1%;
}

.enlace:hover {
    color:rgb(210, 214, 213);
    background-color:orangered;
    cursor: pointer;
    font-size: 30px;
}

.enlace {
    background-color:darkgrey;
    color: black;
    border-style: solid;
    border-color:black;
    border-radius: 5px;
}

h2 {
    text-align: start;
    font-size: 20px;
}

section {
    display: flex;
    border-style: solid;
    border-color: white;
    flex-wrap: wrap;
    justify-content: center;
}
section>div {   
    width: 30%;
    display: flex;  
    align-items: center;
    justify-content:space-evenly;
}

section>div>img {
    display: flex;
    width: 40%;
    margin: 10px;
    border-radius: 15%;
    
}

.info {
    display: flex;
    height: auto;
    display:inline;
}
input {
    width: 35px;
    text-align: end;
}

p {
    font-size: 10px;
}

footer>div>p {
    font-size: 40px;
}

.botonIgual {
    border-radius: 30%;
    width: 20%;
    margin-top: 3vw;
    display:inline-block;
    height: 40px;
}

h3 {
    text-align: center;
    color: black;
    font-size: 30px;
}

ul>p {
    font-size: 20px;
    display: flex;
    justify-content: start;
}
